@font-face {
    font-family: 'The Seasons Bold';
    src: url('Fuente/The Seasons Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
body {
    font-family: 'The Seasons Bold', sans-serif;
    margin-top: 30px;
    padding: 0;
    width: 95%;
    height: 100%;
    background-color: #f5f5f5;
    background-image: url('textura.jpg');
    background-color: rgba(45, 45, 65, 1);
    background-blend-mode: overlay;
    color: white;
    
}
.container {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}
.pag {
    display: none;
    padding: 20px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);^*/
}
.pag.activa {
    display: block;
}
nav {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #333;
}
.boton{
    border-top: none;
    color: white;
}
.boton.activo{
    border-top: solid yellow 5px;
}