@font-face {
    font-family: 'The Seasons Bold';
    src: url('Fuente/The Seasons Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
  
body {
    font-family: 'The Seasons Bold', sans-serif;
    margin-top: 30px;
    padding: 0;
    width: 95%;
    height: 100%;
    background-color: #f5f5f5;
    background-image: url('textura.jpg');
    background-color: rgba(45, 45, 65, 1);
    background-blend-mode: overlay;
    color: white;
}
.container {
    width: 95%;
    margin: 0 auto;
    padding: 0;
}
.pag {
    display: none;
    padding: 20px;
}
.pag.activa {
    display: block;
}
nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #49438b;
    border-radius: 20px;
    position: fixed;
    width: 95%;
    height: 40px;
    top: 25px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #333;
}
.boton{
    border-top: none;
    color: white;
}
.boton.activo{
    border-top: solid yellow 5px;
}

#flecha{
    animation: temblar 0.5s infinite;
}
@keyframes temblar {
    0% {
      transform: rotateZ(-2deg) scale(0.8);
    }
    50% {
      transform: rotateZ(0deg) scale(1);
    }
    100% {
      transform: rotateZ(2deg) scale(0.8);
    }
}

#contenedorCajas{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}
#caja1, #caja2{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(7, 15px);
    grid-template-rows: repeat(5, 15px);
    gap: 5px;
}
.celda{
    background-color: #f0f0f0;
}
#contenedorSeguimientoSemana {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 15px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(84, 84, 110, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.textoSeguimientoSemana {
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
    margin: 0;
    padding: 10px;
}